[html]
title = openalea.phenomenal's coverage
directory = build/htmlcov

[run]
source = openalea.phenomenal
omit =
        *__init__*
        *test*

[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplemented
    raise NotImplementedError
show_missing = True