name: build_publish_anaconda

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    uses: openalea/github-action-conda-build/.github/workflows/conda-package-build.yml@conda_forge_pinning
    secrets:
      anaconda_token: ${{ secrets.ANACONDA_TOKEN }}
    with:
      build-options: ""